<section class="mb-4">
  <div class="container">
    <h1 class="text-center fw-bolder fs-1 text-uppercase mb-4 pt-4">
      portfolio component
    </h1>
    <div class="mb-2 d-flex justify-content-center">
      <div class="line"></div>
      <i class="fa-solid fa-star px-3 translate-middle-y"></i>
      <div class="line"></div>
    </div>
    <div class="row g-5">
        @for (image of images; track $index) {
            <div class="col-md-6 col-lg-4">
                <div class="img-container position-relative rounded-3 overflow-hidden " (click)="openModal(image.path)">
                  <img [src]="image.path" class="w-100" [alt]="image.name" />
                  <div class="overlay">
                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                  </div>
                </div>
              </div>
        }
      </div>
  </div>
</section>
<!-- ../../../public -->

<div class="modal top-0 start-0 w-100 h-100 bg-primary bg-opacity-25 d-flex justify-content-center align-items-center "
[class.d-flex]="modalOpen" (click)="closeModal()">
    <div class="modal-img position-relative" (click)="$event.stopPropagation()">
<img [src]="selectedImage" alt="Selected Image">
<i class="text-white fa-solid fa-xmark fs-3 position-absolute end-0 p-2 pointer" (click)="closeModal()"></i>
    </div>
</div>

